<mat-form-field appearance="fill">
    <mat-label>Search Books</mat-label>
    <input matInput [(ngModel)]="searchQuery" 
    (ngModelChange)="applySearchQuery()" placeholder="Enter book title">
</mat-form-field>
<mat-card *ngIf="pagination">
    <mat-card-content>
        Showing results for {{pagination.TotalItemCount}} books.
    </mat-card-content>
</mat-card>

<div class="flex flex-wrap justify-around gap-4 p-4">
    <app-book-card   *ngFor="let book of books" [book]="book"  (bookClick)="openBookDetailDialog($event)"></app-book-card>
  </div>
  