<mat-card class="border-solid w-full" *ngIf="isLoggedIn">
  <mat-card-content>
    <h4>Welcome!</h4>
    <span class="align-middle">{{ userName }}</span>
  </mat-card-content>
</mat-card>

<mat-nav-list *ngIf="isLoggedIn">
  <ng-container *ngFor="let item of navItems">
    <a mat-list-item [routerLink]="item.subItems ? null : item.link" routerLinkActive="active-link"
      (click)="item.subItems ? toggleSubItems(item) : null">
      {{ item.value }}
      <mat-icon class="menu-button" [ngClass]="{'rotated' : expandedItem === item}" *ngIf="item.subItems">
        expand_more
      </mat-icon>
    </a>
    <mat-nav-list *ngIf="expandedItem === item">
      <ng-container *ngFor="let subItem of item.subItems">
        <a mat-list-item [routerLink]="subItem.link" routerLinkActive="active-link" class="mx-4">
          {{ subItem.value }}
        </a>
      </ng-container>
    </mat-nav-list>
  </ng-container>
</mat-nav-list>