<mat-card class="border-solid w-fit" *ngIf="isLoggedIn">
    <mat-card-content>
      <h2>Welcome!</h2>
      <span class="align-middle">{{ panelName }} portal</span>
    </mat-card-content>
  </mat-card>
  <mat-card class="border-solid w-fit" *ngIf="!isLoggedIn">
    <mat-card-content>
      <h2>Login to Continue</h2>
      <span class="align-middle">Please log in to access the portal.</span>
    </mat-card-content>
  </mat-card>
  
  <mat-nav-list *ngIf="isLoggedIn">
    <ng-container *ngFor="let item of navItems">
      
      <a mat-list-item
         [routerLink]="item.subItems ? null : item.link"
         routerLinkActive="active-link"
         (click)="item.subItems ? toggleSubItems(item) : null">
        {{ item.value }}
        <mat-icon *ngIf="item.subItems">
          {{ expandedItem === item ? 'expand_less' : 'expand_more' }}
        </mat-icon>
      </a>
  
      
      <mat-nav-list *ngIf="expandedItem === item">
        <ng-container *ngFor="let subItem of item.subItems">
          <a mat-list-item [routerLink]="subItem.link" routerLinkActive="active-link">
            {{ subItem.value }}
          </a>
        </ng-container>
      </mat-nav-list>
    </ng-container>
  </mat-nav-list>
  