<div>
    <!-- <button mat-raised-button color="primary" (click)="openAddEditDialog()">Add Book</button> -->
  
    <table mat-table [dataSource]="books" class="mat-elevation-z8">
  
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let book"> {{book.title}} </td>
      </ng-container>
  
      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let book"> {{book.categoryName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Author </th>
        <td mat-cell *matCellDef="let book"> {{book.author}} </td>
      </ng-container>
  
      <ng-container matColumnDef="publisher">
        <th mat-header-cell *matHeaderCellDef> Publisher </th>
        <td mat-cell *matCellDef="let book"> {{book.publisher}} </td>
      </ng-container>
  
      <ng-container matColumnDef="publicationDate">
        <th mat-header-cell *matHeaderCellDef> Publication Date </th>
        <td mat-cell *matCellDef="let book"> {{book.publicationDate | date}} </td>
      </ng-container>
  
      <ng-container matColumnDef="pageCount">
        <th mat-header-cell *matHeaderCellDef> Page Count </th>
        <td mat-cell *matCellDef="let book"> {{book.pageCount}} </td>
      </ng-container>
      <ng-container matColumnDef="isAvailable">
        <th mat-header-cell *matHeaderCellDef> Available </th>
        <td mat-cell *matCellDef="let book"> {{book.isAvailable ? 'Yes' : 'No'}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let book">
          <!-- <button mat-button (click)="openAddEditDialog(book)">Edit</button> -->
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>
  </div>